body {
  background-color: lightgray;
}

.inputContainer {
  text-align: center;
}

.input {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}

.resultContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  height: 150px;
  width: 250px;
  margin: 10px 0;
  padding: 5px 15px;
  text-align: center;
  background-color: #fff;
}

.card__author {
  font-style: italic;
}
